alembic
flask>=3.0
flask-sqlalchemy
flask-marshmallow
python-dotenv
sqlalchemy>=1.4,<2
utils-flask-sqlalchemy>=0.4.2
utils-flask-sqlalchemy-geo>=0.3.3
psycopg2
backports.entry-points-selectable  # could be removed we drop of py3.9 support
