alembic
flask>=3.0
flask-sqlalchemy
flask-marshmallow
python-dotenv
sqlalchemy
utils-flask-sqlalchemy>=0.3.0
utils-flask-sqlalchemy-geo>=0.2.4
psycopg2
backports.entry-points-selectable  # could be removed we drop of py3.9 support
